body {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    font-family: Arial, sans-serif; /* Default font */
  }
  
  /* Main content container */
  .container {
    padding: 20px;
    color : #044215;
  }

  h1 {
    color: #ff6b6b; /* Bright pink */
  }

  .custom-video {
    max-width: 2000px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the video */
}


.container-fluid.custom-styles {
  
  font-family: Arial, Helvetica, sans-serif;
    
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    
}

.container-fluid.custom-styles h1 {
    color: #ff6b6b;
}

.container-fluid.custom-styles p {
    size-adjust: 20px;
    color: #28cd54;

}

 #gallery {
	text-align: center;
}