body {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    font-family: Arial, sans-serif; /* Default font */
  }
  
  /* Main content container */
  .container {
    padding: 20px;
    color : #044215;
  }

  h1 {
    color: #ff6b6b; /* Bright pink */
  }

  .custom-video {
    max-width: 2000px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the video */
}